html {
  font-family: 'Roboto', serif;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bevan', serif;
  font-weight: 400;
}
h1 + h2 {
  font-family: 'Arvo', serif;
}

.md-gray {
  background-color: #ccc;
}

.dk-gray {
  background-color: #111;
  color: #fff;
}