.layout { }

.wrapper {
  @include box-reset;
}

.layout > .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.layout:not(.flush) > .wrapper {
  padding:  1.5em;
}

@media all and (min-width: #{map-get($breakpoints, 'giant')}) {
  .layout--align-left > .wrapper {
    margin-right: calc((100% - #{map-get($breakpoints, 'giant')})/2);
  }
  .layout--align-center > .wrapper {
    margin: 0 calc((100% - #{map-get($breakpoints, 'giant')}) / 2);
  }
  .layout--align-right > .wrapper {
    margin-left: calc((100% - #{map-get($breakpoints, 'giant')})/2);
  }
}

.layout--valign-top > .wrapper {
  align-items: flex-start;
  align-content: flex-start;
}
.layout--valign-middle > .wrapper {
  align-items: center;
  align-content: center;
}
.layout--valign-bottom > .wrapper {
  align-items: flex-end;
  align-content: flex-end;
}
