//  ================================= *** ==================================  //
//                                                                            //
//                     T H E T A  W A V E  S E T T I N G S                    //
//                                                                            //
//              Global settings variables that need to be made                //
//                     available to the entire codebase                       //
//                                                                            //
//  ================================= *** ==================================  //

// $tw__breakpoint
// -----------------------------------------------------------------------------
// Allows you to choose the breakpoints at which your content will
// start and stop scaling. Breakpoints can be viewed and/or modified
// in _settings.breakpoints.scss
// -----------------------------------------------------------------------------

// Input the minimum ('start') breakpoint at which your content will
// begin to scale.
$tw__breakpoint--start: 'medium';

// Input the maximum ('end') breakpoint at which your content will stop scaling.
$tw__breakpoint--end:   'xlarge';

// $tw__scale
// -----------------------------------------------------------------------------
// Allows you to choose the type scale at which your content will start and
// stop when scaling. Type scales can be found at https://type-scale.com.
// -----------------------------------------------------------------------------

// Input the minimum ('start') type scale at which your content will appear.
$tw__scale--start: 1.125; // "Major Second"

// Input the maximum ('end') type scale at which your content will appear.
$tw__scale--end:   1.200; // "Minor Third"
